
.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/7.4/fileHashes/resourceHashesCache.bin

.gradle/7.4/fileHashes/fileHashes.lock

.gradle/7.4/fileHashes/fileHashes.bin

.gradle/buildOutputCleanup/outputFiles.bin

buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock

buildSrc/.gradle/7.4/executionHistory/executionHistory.lock

.gradle/7.4/executionHistory/executionHistory.lock

.gradle/7.4/executionHistory/executionHistory.bin
